fastapi[all]
uvicorn==0.30.3
uvicorn-worker
starlette==0.37.2

# Security & Authentication
PyJWT==2.8.0
passlib[bcrypt]
bcrypt==4.2.0

#Database & ORM
SQLAlchemy 
SQLAlchemy-Utils
sqlalchemy[asyncio]
alembic
asyncpg

# FastAPI Extensions and Utilities
fastapi-pagination
fastapi-filter[sqlalchemy]
sqladmin
prometheus-fastapi-instrumentator
python-multipart

# Miscellaneous
python-decouple
